#hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--color-text-dark);
}

/* hero image */
.hero-movie-image-wrapper,
.hero-movie-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero-movie-image {
  max-height: fit-content;
  object-fit: cover;
  object-position: center;
}

/* hero content */
.hero-content-container {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--color-text-dark);
}

.hero-content {
  width: 80%;
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.each-hero-content {
  margin: 5px 0px;
}

.hero-title {
  font-size: 48px;
}

/* imdb */
.imdb-number {
  font-size: 15px;
  margin-left: 10px;
}

.movie-description-container {
  width: 50%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 50;
}

/* movie trailer */
.movie-trailer-container {
  background-color: var(--color-red-dark);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text-dark);
  border-radius: 9px;
  transition: box-shadow ease 0.3s;
}

.movie-trailer-container:hover {
  box-shadow: rgba(169, 21, 21, 0.7) 0px 5px 15px;
}

.play-icon {
  margin-right: 10px;
}

@media (max-width: 968px) {
  .movie-description-container {
    width: 100%;
  }
  
  .hero-content-container {
    top: 40px;
  }

  .hero-title {
    font-size: 30px;
  }
}

@media (max-width: 280px) {
  .movie-description-container {
    display: none;
  }

  .hero-title {
    font-size: 20px;
  }
}
