/* hero content */
.hero-content-container {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--color-text-dark);
}

.hero-content {
  width: 80%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7em;
}

.hero-title {
  font-size: 3rem;
}

.movie-description-container {
  width: 50%;
  font-size: 1.1rem;
  line-height: 1.7em;
  font-weight: 50;
}

/* movie trailer */
.movie-trailer-container {
  background-color: var(--color-red-dark);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.6em 1.2em;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text-dark);
  border-radius: 9px;
  transition: box-shadow ease 0.3s;
}

.movie-trailer-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 968px) {
  .movie-description-container {
    width: 100%;
  }

  .hero-content-container {
    top: 40px;
  }

  .hero-title {
    font-size: 1.875rem;
  }
}

@media (max-width: 280px) {
  .movie-description-container {
    display: none;
  }

  .hero-title {
    font-size: 1.2rem;
  }
}
