#movie-gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3.1em 0em;
}

.movie-gallery-wrapper {
  width: 80%;
}

.movie-gallery-title {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1.5em;
}

.movie-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 3em;
}

@media (max-width: 968px) {
  .movie-gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .movie-gallery{
    grid-template-columns: repeat(1, 1fr);
  }
}